{% extends "base.html" %}

{% load static %}

{% block content %}
    <!-- Left Sidebar -->
    {% include 'pages/left_nav.html' %}

    <!-- Main Content -->
    <div class="main-content">
        <header class="main-header">
            <h1>Explore</h1>
        </header>
        {% include "components/posts_list.html" %}
    </div>

    <!-- Right Sidebar -->
    {% include 'pages/right_content.html' %}
    {% endblock %}

    {% block inline_javascript %}
    <script>
    function closeComposePopup() {
        document.getElementById('compose-popup').style.display = 'none';
    }
    </script>
{% endblock %} 
