{% load i18n %}
<div class="left-sidebar">
    <div class="logo">
        {% include 'partials/_logo.html' %}
    </div>

    <!-- Add My Account Link -->
    {% if request.user.is_authenticated %}
    <a href="{% if experiment %}{% url 'users:detail_with_experiment' experiment.identifier request.user.id %}{% else %}{% url 'users:detail' request.user.id %}{% endif %}" class="my-account-link {% if '/users/' in request.path %}active{% endif %}">
        <div class="my-account-content">
            <div class="my-account-photo">
                {% if current_user_profile.profile_picture %}
                    <img src="{{ current_user_profile.profile_picture.url }}" alt="Profile">
                {% else %}
                    <i class="ri-user-3-line"></i>
                {% endif %}
            </div>
            <div class="my-account-info">
                <span class="my-account-name">{{ current_user_profile.display_name }}</span>
                <span class="my-account-username">@{{ current_user_profile.username }}</span>
            </div>
            <i class="ri-arrow-right-s-line account-arrow"></i>
        </div>
    </a>
    {% endif %}
    <ul class="nav-menu">
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                <i class="ri-home-fill"></i>
                Home
            </a>
        </li>
        <li>
            <a href="{% url 'explore' %}" class="{% if request.resolver_match.url_name == 'explore' %}active{% endif %}">
                <i class="ri-compass-3-line"></i>
                Explore
            </a>
        </li>
        <li class="nav-item">
            <a href="{% if experiment %}{% url 'users:detail_with_experiment' experiment.identifier request.user.id %}{% else %}{% url 'users:detail' request.user.id %}{% endif %}" class="{% if request.resolver_match.namespace == 'users' and request.resolver_match.url_name == 'detail' %}active{% endif %}">
                <i class="ri-user-3-line"></i>
                {% translate "My Profile" %}
            </a>
        </li>
        {% endif %}
        <li>
            <a href="{% if experiment %}{% url 'about_with_experiment' experiment.identifier %}{% else %}{% url 'about' %}{% endif %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">
                <i class="ri-information-line"></i>
                About
            </a>
        </li>
    </ul>
    {% if user.is_authenticated %}
    <div class="nav-actions">
        <!-- Commenting out post button
        <button class="post-button" onclick="openComposePopup()">Post</button>
        -->
        <a href="{% url 'account_logout' %}" class="logout-button">
            <i class="ri-logout-box-line"></i>
            <span>Log out</span>
        </a>
    </div>
    {% endif %}
</div>