<!-- Posts List -->
<div class="post-feed">
    {% for post in posts %}
        <article class="post" data-post-id="{{ post.id }}">
            <div class="post-main">
                <a href="{% url 'users:detail' post.user_profile.user.id %}" class="user-avatar">
                    {% if post.user_profile.profile_picture %}
                        <img src="{{ post.user_profile.profile_picture.url }}" alt="Profile Picture" class="avatar-img">
                    {% else %}
                        <div class="avatar-placeholder">
                            <i class="ri-user-line"></i>
                        </div>
                    {% endif %}
                </a>
                <div class="post-content">
                    <!-- Regular tweet header -->
                    <div class="post-header">
                        <div class="user-info">
                            <a href="{% url 'users:detail' post.user_profile.user.id %}" class="user-name">
                                {{ post.user_profile.user.name }}
                            </a>
                            <a href="{% url 'users:detail' post.user_profile.user.id %}" class="user-handle">
                                @{{ post.user_profile.username }}
                            </a>
                            <span class="dot">·</span>
                            <span class="time">{{ post.created_date|timesince }}</span>
                        </div>
                    </div>
        
                    <!-- Regular tweet content -->
                    <div class="post-text">{{ post.content }}</div>
        
                    <!-- Post Actions -->
                    <div class="post-actions">
                        <button class="action-button comment-button" data-post-id="{{ post.id }}" data-authenticated="true" onclick="showCommentPopup('{{ post.id }}')">
                            <i class="ri-chat-1-line"></i>
                            <span>{{ post.comment_count }}</span>
                        </button>
        
                        <button class="action-button repost-button " data-post-id="{{ post.id }}" data-authenticated="true" onclick="showRepostPopup('{{ post.id }}')">
                            <i class="ri-repeat-line"></i>
                            <span>0</span>
                        </button>
        
                        <button class="action-button like-button " data-post-id="{{ post.id }}" data-authenticated="true" onclick="handleLike(this, '{{ post.id }}')">
                            <i class="ri-heart-line"></i>
                            <span>0</span>
                        </button>
                    </div>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="no-posts">
            <p>No posts yet. Be the first to post!</p>
        </div>
    {% endfor %}
</div>

{% include 'components/comment_modal.html' %}